*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */

}
.main-page{
    background-image: url("card-image/background-dog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-around;
    color: white;
}
.logo{
    display: flex;
    gap: 5px;
    width: 250px;
    align-items: center;
}
.nav{
    display: flex;
    gap: 20px;
        font-size: 25px;
    
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
select{
    border: none;
    color: white;
    font-size: 25px;
    background-color: transparent;
}
.btm-1{
    background-color: white;
    color: black;
}
.hero{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 90vh;
    padding-left: 120px;
    gap: 50px;
    justify-content: center;
    color: aliceblue;
}
.headin-1{
    font-size: 60px;
}
.btn-2{
 background-color: transparent;
 color: aliceblue;
 border: 1px solid white;
 border-radius: 30px;
}
button{

    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: fit-content;
}
main{
    padding: 10px 100px;
}
.shop{
    display: flex;
    gap: 10px;
    padding: 100px 50px;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(233, 218, 218);
    padding-bottom: 20px;
}
.text-1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    padding: 10px 30px;
    gap: 150px;
}
.text-1 input{
    width: 20%;
    height: 30px;
    border-radius: 15px;
    outline: none;
}
.animal{
    display: flex;
    margin: auto;
    gap: 35px;
    align-items: center;
    font-size: 25px;
}
.random{
    background-color: black;
    color: white;
    width: fit-content;

    
    border-radius: 15px;
}
.product{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.view{
    text-align: end;
    padding-right: 150px;
    padding-top: 30px;
}
.dog{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.dog-man{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.cat{
    display: flex; 
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
    
}
.cat-images{

position: relative;
}
.description{
    width: 600px;
}
.cat-1{
    position: absolute;
    right: 330px;
    bottom: -80px;
}
.team{
    display: flex;
}

.team-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.socail-icon{
    display: flex;
    gap: 10px;
}
.team{
    display: flex;
    gap: 30px;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    gap: 190PX;
}
.description-2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 800px;
}

.form{
    display: flex;
    padding-left: 100px;
    margin-top: 50px;
    color: white;
    flex-direction: column;
    background-color: black;
    padding-bottom: 50px;
    
}
form{
    background-color: white;
    padding: 50px;
    border: 1px solid;
  width: 500px;
  color: black;
  padding-left: 50px;
}
form input{
    width: 100%;
    height: 30px;

}
#cheakbox{
    display: inline;
}

.contact{
    display: flex;
    /* gap: 10px; */

}
.send-card{
    width: 300px;
    padding-left: 50px;
    line-height: 40px;
}
.send{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}
.pawn{
    width: 300px;
}
#submit{
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 15px;
    
}
.cheakbox{
    display: flex;
    gap: 10px;
}

footer{
    display: flex;
    gap: 100px;
}
.adress{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 600px;
}
.join{
    display: flex;
    padding-top: 200px;
    padding-left: 100px;
}
.pawn{
    display: flex;
    flex-direction: column;
}
.footer-header{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;

} 
textarea{
    width: 100%;
    height: 100px;
}

@media screen and (max-width:600px){
.headin-1{
    font-size: 35px;
}
.hero{
    padding: 0;
    width: 100%;
    padding: 10px;
}
.main-page{
    width: 100%;
}
nav{
    display: none;
}
 .product, main{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        margin: 0;
    }
    .product img ,.dog-man img{
        width: 300px;
    }
    .dog{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .dog-man{
        display: flex;
        flex-direction: column;
    }
    .dog img,.cat-images img{
        width: 270px;
    }
    .card{
        width: 100%;
        border: none;
    }
    .shop{
        padding: 20px 0;
    }
    .text-1 h1{
        font-size: 20px;
    }
    .text-1{
        padding: 0;
        margin: 0;
        gap: 20px;
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .description-2{
        width: 280px;
        padding-right: 10px;
    }
 .text-1 input{
    width: 100px;
 }
    .animal{
        display: flex;
        font-size: 10px;
        padding-right: 10px;
    }
    .view{
        justify-content: end;
        padding: 0;
    }

    .cat{
        display: flex;
        flex-direction: column;
    }
    .description{
        width: 280px;
        /* padding: 5px 10px; */
    }
    .team{
        display: flex;
        flex-direction: column;
    
    }
    .form{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0;
    width: 280px;
    }
    form{
        width: 280px;
        padding: 20px;
    }
    
    .send{
        display: grid;
        width: 280px;
        grid-template-columns: repeat(1,1fr);
    }
    .send-card{
        width: 280px;
    }
    
    footer{
        display: flex;
        flex-direction: column;
    }
   .adress{
    display: grid;
    width: 290px;
   }
    .pawn ,.join,.contact{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0;

    }
    .pawn{
        width: 280px;
    }
    .adress{
        display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0;
    margin: 0;
    gap: 10px;
    padding-top: 20px;
    width: 100%;

    }
}

